<div class="socialmedia">
	<h2>Social media</h2>
	<ul>
		<li>Twitter</li>
		<li>Facebook</li>
		<li>Linkedin</li>
	</ul> 
</div>

<div class="contactDetails">
	<h2>Contact</h2>
	<ul>
		<li>Strada Muresului nr 10</li>
		<li>Tel: 072XX XXX XXX</li>
		<li>Email: eduard.erja@gmail.com</li>
	</ul> 
</div>

<!-- <div class="footerSection">
	<h2>Lorem ipsum</h2>
	<span class="footerText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</span>
</div> -->