	<span id="picture">
			<img src="static/images/edi.jpg">
		</span>
		<div>
			<h2>Hello, I'm Eduard</h2>
			<section class="presentation">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
			
			<span class="twitter">
				<h3><em>Follow me</em></h3>
				<a href="https://twitter.com/yippeeEd" target="blank"> <img src="/static/images/twitter.png"> </a>
			</span>
			</section>

		</div>