<!-- Line 1 of items -->
			<div class="line">

				<!-- Item 1 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

				<!-- Item 2 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

				<!-- Item 3 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

			</div>
			<!-- end of Line 1 -->

			<!-- Line 2 of items -->
			<div class="line">

				<!-- Item 1 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

				<!-- Item 2 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

				<!-- Item 3 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

			</div>
			<!-- end of Line 2 -->

			<!-- Line 3 of items -->
			<div class="line">

				<!-- Item 1 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

				<!-- Item 2 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

				<!-- Item 3 -->
				<section class="col">
					<img src="static/images/developer.jpg">
					<span> 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore.
					</span>
				</section>

			</div>
			<!-- end of Line 3 -->